*node_modules

*.env.development
*.env.production
*.env
*coverage
.DS_Store

/scripts/tmp/*

*dist
node_modules
*.DS_Store

**/.terraform/*

*.tfstate
*.tfstate.*
crash.log
crash.*.log
*.tfvars
.terraform.tfstate.lock.info
.terraformrc
terraform.rc
