<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="margin:0px; padding:0px;">
    <style>
        .box {
            width : 1080px;
            height: 1080px;
            background-color: #FCF0E9;
            display: flex;
            justify-content: center;
            align-items: flex-end;
        }
        .white-square{
            width: 520px;
            height: 440px;
            background-color: white;
            justify-content: center;
            position: absolute;
            padding-left: 20px;
            padding-right: 20px;
            padding-bottom: 20px;
        }
        .image {
            width: 520px;
            height: 440px;
        }
        .default-text-orange  {
            font-family: "IBM Plex Sans", sans-serif;
            font-weight: 400;
            font-style: normal;
            color:#D69257;
            text-align: center;
        }


        /* .default-text {
            font-family: ;
        } */
    </style>
        <div class="box">
            <div class="default-text-orange" style="font-size: 30px;padding-bottom: 6px;">MATCHPET.ORG</div>
             <div style="position:fixed; background-color:#FCF0E9; left:40px; bottom:50px; width:100px;height:100px;z-index:50;display:flex; align-items: center;border-radius: 9999px;padding: 12px;">
                 <svg id="Camada_2" data-name="Camada 2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 159.28 126.7">
                     <defs>
                       <style>
                         .cls-1, .cls-2 {
                           stroke-width: 0px;
                         }
                   
                         .cls-2 {
                           fill: #fff;
                         }
                       </style>
                     </defs>
                     <g id="Camada_1-2" data-name="Camada 1">
                       <g>
                         <path class="cls-1" d="m135.7,91.13c6.86,0,13.33,0,19.8,0,.61,0,1.29-.26,1.8-.05.73.3,1.33.91,1.98,1.39-.65.47-1.28,1.31-1.96,1.36-3.63.26-7.28.36-10.92.43-2.83.06-5.7.25-8.5-.08-3.39-.4-5.08.99-5.72,4.44,4.97.93,9.94,1.79,14.87,2.86.93.2,1.68,1.24,2.52,1.89-1.02.29-2.1.94-3.06.8-4.1-.61-8.18-1.39-12.24-2.22-4.76-.97-4.75-1.02-7.5,4.24,7.64,2.55,15.21,5.02,22.73,7.66,1.3.46,3.46,2.12,3.34,2.41-1.01,2.3-2.79.69-4.1.26-7.39-2.43-14.75-4.98-22.07-7.62-1.5-.54-2.47-.63-3.72.6-23.26,22.78-62.84,23.1-86.73.09-.7-.67-2.36-.98-3.32-.66-7.69,2.51-15.3,5.26-22.98,7.77-1.04.34-2.4-.27-3.61-.43.9-.75,1.67-1.84,2.71-2.21,6.77-2.4,13.59-4.62,20.39-6.94,1.02-.35,1.99-.86,3.01-1.31-2.91-4.79-2.9-4.75-7.83-3.77-3.97.79-7.94,1.57-11.94,2.15-.94.14-2.01-.58-3.01-.9.87-.63,1.67-1.63,2.63-1.84,4.84-1.03,9.71-1.86,14.58-2.76-.77-4.17-1.23-4.48-5.03-4.49-6.27-.02-12.55-.09-18.82-.31-1.01-.04-1.98-1.02-2.97-1.56,1.1-.41,2.2-1.15,3.3-1.16,5.77-.04,11.54.12,17.3.18.87,0,1.75-.15,2.96-.26-.7-2.26-1.4-4.24-1.92-6.26-2.44-9.54-2.17-19.01.57-28.48.45-1.56.38-3.6-.24-5.09-6.46-15.48-7.27-31.18-2.28-47.18.39-1.24.89-2.44,1.42-3.88,7.82,1.63,15.11,4.3,21.83,8.24,5.05,2.95,9.67,6.61,14.6,9.78,1.09.7,2.79,1.22,3.95.9,12.12-3.33,24.16-3.34,36.28,0,1.16.32,2.98-.15,3.94-.93,10.64-8.78,22.63-14.78,36.84-18.18,1.25,5.4,2.83,10.6,3.61,15.92,1.81,12.31-.16,24.18-5.04,35.61-.47,1.11-.82,2.6-.48,3.67,3.7,11.61,3.55,23.1-.62,34.55-.13.36-.18.74-.33,1.38Zm-97.71,15.65c21.85,23.11,62.79,22.16,83.23-.05-3.37-1.88-6.78-3.63-10.01-5.67-.96-.61-1.43-1.99-2.13-3.02,1.15.18,2.42.1,3.43.58,2.64,1.27,5.12,2.86,7.73,4.2,3.89,1.99,4.11,1.87,6.29-2.38-4.78-1.6-9.57-3.12-14.28-4.85-.89-.33-1.48-1.49-2.21-2.27,1.06-.12,2.21-.58,3.16-.32,4.27,1.22,8.47,2.72,12.73,3.97,3.28.96,3.77.54,4.34-2.86-5.38-.91-10.77-1.74-16.11-2.8-.86-.17-1.51-1.36-2.26-2.07.97-.22,1.98-.73,2.9-.61,5.01.65,10.01,1.42,14.99,2.23,1.94.31,2.88-.37,3.56-2.24,3.93-10.88,4.01-21.76.48-32.75-.41-1.29-.42-3.03.11-4.24,3.17-7.2,5.22-14.67,5.81-22.51.65-8.66-.51-17.08-3.47-25.5-1.42.38-2.59.65-3.72,1.01-11.14,3.54-21.18,9.07-29.96,16.79-1.34,1.18-2.44,1.63-4.27,1.04-12.41-4.03-24.88-3.98-37.31-.05-1.8.57-2.92.26-4.28-.95-6.48-5.75-13.73-10.36-21.72-13.72-3.85-1.62-7.87-2.87-11.95-4.34-.46,1.32-.75,2.07-.98,2.83-4.36,15.06-3.54,29.82,2.86,44.15,1.03,2.31,1.05,4.19.27,6.56-3.35,10.23-3.08,20.47.32,30.7.84,2.54,1.97,3.67,4.73,3.17,4.67-.85,9.38-1.55,14.09-2.15.98-.12,2.05.48,3.08.74-.83.67-1.58,1.75-2.5,1.93-5.33,1.05-10.7,1.89-16.22,2.83.67,2.37,1.51,4,4.57,2.88,4.36-1.6,8.82-2.95,13.27-4.26.77-.23,1.75.29,2.64.47-.51.73-.88,1.85-1.57,2.12-3.3,1.27-6.68,2.33-10.04,3.43-1.66.55-3.34,1.03-5.12,1.57,2.8,4.31,2.83,4.36,6.72,2.35,2.69-1.39,5.25-3.06,7.97-4.39.86-.42,2.07-.12,3.13-.16-.51.85-.82,2.02-1.57,2.48-3.44,2.11-7,4.01-10.73,6.11Z"/>
                         <path class="cls-2" d="m37.99,106.78c3.73-2.1,7.29-4,10.73-6.11.75-.46,1.06-1.63,1.57-2.48-1.05.03-2.26-.26-3.13.16-2.72,1.32-5.28,2.99-7.97,4.39-3.89,2.01-3.92,1.96-6.72-2.35,1.77-.54,3.45-1.03,5.12-1.57,3.36-1.1,6.74-2.16,10.04-3.43.69-.27,1.05-1.39,1.57-2.12-.89-.18-1.87-.69-2.64-.47-4.46,1.31-8.91,2.66-13.27,4.26-3.07,1.12-3.9-.51-4.57-2.88,5.53-.94,10.9-1.78,16.22-2.83.92-.18,1.67-1.26,2.5-1.93-1.03-.27-2.1-.87-3.08-.74-4.71.6-9.41,1.31-14.09,2.15-2.76.5-3.89-.63-4.73-3.17-3.4-10.23-3.67-20.47-.32-30.7.78-2.37.76-4.25-.27-6.56-6.4-14.33-7.22-29.09-2.86-44.15.22-.76.52-1.51.98-2.83,4.09,1.47,8.1,2.72,11.95,4.34,7.99,3.36,15.24,7.97,21.72,13.72,1.37,1.21,2.49,1.52,4.28.95,12.42-3.94,24.9-3.98,37.31.05,1.83.6,2.94.14,4.27-1.04,8.78-7.73,18.82-13.26,29.96-16.79,1.13-.36,2.3-.63,3.72-1.01,2.97,8.42,4.12,16.84,3.47,25.5-.59,7.84-2.64,15.31-5.81,22.51-.53,1.21-.52,2.95-.11,4.24,3.53,10.99,3.45,21.87-.48,32.75-.67,1.87-1.62,2.56-3.56,2.24-4.99-.81-9.98-1.58-14.99-2.23-.93-.12-1.93.39-2.9.61.75.72,1.41,1.9,2.26,2.07,5.35,1.06,10.74,1.9,16.11,2.8-.57,3.4-1.07,3.82-4.34,2.86-4.27-1.25-8.46-2.75-12.73-3.97-.95-.27-2.1.19-3.16.32.73.78,1.32,1.94,2.21,2.27,4.71,1.73,9.5,3.25,14.28,4.85-2.19,4.26-2.4,4.37-6.29,2.38-2.61-1.33-5.09-2.92-7.73-4.2-1-.48-2.28-.4-3.43-.58.7,1.03,1.17,2.41,2.13,3.02,3.23,2.04,6.64,3.79,10.01,5.67-20.44,22.21-61.37,23.16-83.23.05Zm14.04-48.35c-3.32,1.07-6.66,2.09-9.97,3.22-1.84.63-2.24,1.81-1.57,3.77,3.91,11.34,18.43,15.79,28.02,8.54,1.36-1.03,1.65-1.93,1.07-3.56-2.42-6.82-9.28-11.38-17.56-11.98Zm55.12-.09c-8.2.74-14.98,5.16-17.44,11.88-.53,1.44-.62,2.49.83,3.64,9.54,7.52,24.76,2.8,28.32-8.81.49-1.59.22-2.61-1.26-3.14-3.47-1.25-6.97-2.39-10.46-3.57Zm-34.62,29.74c.59,3.5,2.22,6.11,4.6,8.43,1.83,1.78,3.28,1.6,4.69-.29,1.83-2.45,3.6-4.96,5.64-7.78-5.35-1.86-10.01-1.79-14.93-.36Z"/>
                         <path class="cls-1" d="m52.03,58.43c8.28.59,15.14,5.16,17.56,11.98.58,1.63.28,2.53-1.07,3.56-9.58,7.24-24.11,2.8-28.02-8.54-.67-1.96-.27-3.13,1.57-3.77,3.3-1.13,6.64-2.16,9.97-3.22Zm-8.44,6.03c2.35,8.2,11.83,12.38,20.06,8.85,3.46-1.48,3.63-2.16,1.38-5.28-4.67-6.47-14.52-8.11-21.43-3.57Z"/>
                         <path class="cls-1" d="m107.15,58.34c3.49,1.18,6.99,2.32,10.46,3.57,1.48.53,1.75,1.55,1.26,3.14-3.56,11.61-18.78,16.33-28.32,8.81-1.45-1.15-1.36-2.2-.83-3.64,2.46-6.72,9.24-11.14,17.44-11.88Zm8.47,6.13c-8.2-5.8-21.54-1.08-22.86,7.1,8.37,6.08,20.28,2.39,22.86-7.1Z"/>
                         <path class="cls-1" d="m72.53,88.08c4.92-1.43,9.59-1.49,14.93.36-2.04,2.82-3.81,5.32-5.64,7.78-1.42,1.89-2.87,2.07-4.69.29-2.38-2.32-4.01-4.93-4.6-8.43Zm3.22,2.01c1.47,1.9,2.41,3.11,3.62,4.66,1.24-1.67,2.2-2.95,3.47-4.66h-7.09Z"/>
                         <path class="cls-2" d="m43.6,64.47c6.91-4.54,16.76-2.9,21.43,3.57,2.26,3.12,2.08,3.8-1.38,5.28-8.23,3.53-17.71-.66-20.06-8.85Z"/>
                         <path class="cls-2" d="m115.62,64.47c-2.58,9.48-14.49,13.18-22.86,7.1,1.31-8.18,14.66-12.9,22.86-7.1Z"/>
                         <path class="cls-2" d="m75.76,90.1h7.09c-1.28,1.72-2.23,3-3.47,4.66-1.21-1.56-2.15-2.77-3.62-4.66Z"/>
                       </g>
                     </g>
                   </svg>
             </div>

             
            <div style="display: flex;flex-direction: column;position: absolute; left:80px; top:180px">
                <div style="display: flex;flex-direction: row; align-items: center; margin-bottom: -40px;">
                    <h1 class="default-text-orange" style="font-size: 55px; text-align: left; " >NOME: &nbsp;</h1>
                    <p class="default-text-orange" style="font-size:55px; text-align:left; color:black; text-transform: uppercase;"><%= animalName %></p>
                </div>
                <% for (var i = 0; i < animalTraits.length; i++) { %>
                    <div style="display: flex;flex-direction: row; align-items: center; margin-bottom: -40px;">
                        <h1 class="default-text-orange" style="font-size: 55px; text-align: left; " > <%= animalTraits[i].name %>: &nbsp;</h1>
                        <p class="default-text-orange" style="font-size:55px; text-align:left; color:black;  text-transform: uppercase;"><%= animalTraits[i].value %></p>
    
                    </div>
                    
                  <%} %>
               
                
            </div>



            <div style="position:absolute; top:780px; left:620px; width:440px; height:266px; display: flex; flex-direction:column; justify-content: center; align-items: center; overflow: hidden;">
                <h1 class="default-text-orange" style="font-size: 34px; color:black; padding-left: 16px; padding-right: 16px; text-overflow: ellipsis;white-space: nowrap;overflow: hidden; text-transform: uppercase;" >ADOTE <%= animalName %><br/>PELO MATCHPET!</h1>
             
            </div>

            <div style="position:absolute; top: 934px;  left:640px; width:370px; height:146px; display: flex; flex-direction:row; justify-content: center; align-items: center; overflow: hidden;">
                <!-- <image style="width: 300px;" src="https://matchpetong.s3.sa-east-1.amazonaws.com/animals/3cacebde-eee0-4fff-8a9a-48f99e8c21a7-images-removebg-preview.png"/> -->
                <svg version="1.0" xmlns="http://www.w3.org/2000/svg"
     width="387.000000pt" height="130.000000pt" viewBox="0 0 387.000000 130.000000"
     preserveAspectRatio="xMidYMid meet">
    
    <g transform="translate(30.000000,130.000000) scale(0.100000,-0.100000)"
    fill="#000000" stroke="none">
    <path d="M3136 1014 c-9 -8 -16 -21 -16 -27 0 -7 55 -65 122 -129 l123 -117
    -1508 -1 -1507 0 -12 -25 c-9 -21 -8 -28 7 -45 18 -20 32 -20 1517 -22 l1499
    -3 -114 -105 c-64 -58 -118 -113 -122 -123 -9 -24 13 -49 41 -45 23 3 368 314
    362 327 -4 8 -283 268 -326 304 -39 31 -45 32 -66 11z"/>
    </g>
    </svg>
    
            </div>

        </div>
</body>
</html>