<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
</head>
<body style="margin: 40px; width: 800px; font-family: Arial, Helvetica, sans-serif;">
  <div style="width: 600px;">
    <table role="presentation" border="0" cellspacing="0" width="'100%">
      <tr>
        <td>
          <h1 style="font-weight: 600; font-size: 2.5rem;">Mude a sua<span style="color: #FA8128;">senha</span>.</h1>
        </td>
      </tr>
      <tr> 
        <td>
          <p style="color: #525252; font-size: 1.25rem;">Perdeu a sua senha? Não se preocupe.</p>
        </td>
      </tr>
      <tr>
        <td>
          <p style="color: #525252; font-size: 1.25rem;">Mude a sua senha clicando no botão abaixo.</p>
        </td>
      </tr>
    </table>

    <table role="presentation" border="0" cellspacing="0" width="'100%">
      <tr>
        <td>
          <a style="width: 400px; line-break: anywhere;" href=<%= link %>>
            <button class="button-link" style="background-color: #FA8128; border: 0; cursor: pointer; width: 400px; height: 40px; color: white; font-size: 1rem;">
              Verificar conta
            </button>
          </a>
        </td>
      </tr>
      <tr>
        <td>
          <p class="small-text" style="color: #525252; font-size: 1rem;">Não conseguiu clicar no botão? Copie e cole o seguinte link em seu navegador:</p>
          <a href=<%= link %> style="width: 400px; line-break: anywhere;"><%= link %></a>

        </td>
      </tr>
      
    </table>
  </div>
  <!-- <table>
    <thead></thead>
    <tbody>
      <tr>
        <h1>Bem vindo(a), <span>Arthur</span></h1>
      </tr>
      <tr>
        <p style=>Estamos muito animados com sua participação no <b>MatchPet</b>. </p>
      </tr>
      <tr>
        <button >Verificar conta</button>
      </tr>
      <tr>
        <p class="small-text">Não conseguiu clicar no botão? Copie e cole o seguinte link em seu navegador:</p>
        
      </tr>
      <tr class="link-container">
        <a href="http://localhost:3000/verify?token=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1aWQiOiI2NTVhOWZlNzk4YTFlZGJhYjU5MDQxODYiLCJ1c2VybmFtZSI6InBhcmVudG9uaXNzIiwiZW1haWwiOiJnZW85QGdtYWlsLmNvbSIsInZlcmlmaWVkIjpmYWxzZSwiZGlzcGxheV9uYW1tZSI6Imdlbzk5Iiwicm9sZSI6MCwidG9rZW5fZnVuY3Rpb24iOiJWRVJJRllfVVNFUiIsImlhdCI6MTcwMDQzNzk5MX0.MLl-rWb-d3Psuf-qUss_LiQpFAlxUmAaigly0weK9js'">http://localhost:3000/verify?token=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1aWQiOiI2NTVhOWZlNzk4YTFlZGJhYjU5MDQxODYiLCJ1c2VybmFtZSI6InBhcmVudG9uaXNzIiwiZW1haWwiOiJnZW85QGdtYWlsLmNvbSIsInZlcmlmaWVkIjpmYWxzZSwiZGlzcGxheV9uYW1tZSI6Imdlbzk5Iiwicm9sZSI6MCwidG9rZW5fZnVuY3Rpb24iOiJWRVJJRllfVVNFUiIsImlhdCI6MTcwMDQzNzk5MX0.MLl-rWb-d3Psuf-qUss_LiQpFAlxUmAaigly0weK9js'</a>
      </tr>

    </tbody>
  </table> -->
</body>
</html>